#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        Lock: Lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(L)>;
            label = "LOCK";
        };

        Back: Back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(ENTER)>;
            label = "BACK";
        };

        close: close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4)>;
            label = "CLOSE";
        };

        AltTab: AltTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
            label = "ALTTAB";
        };

        PW: PW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp KP_NUMBER_0>,
                <&macro_release>,
                <&macro_press>,
                <&kp KP_NUMBER_8>,
                <&macro_release>,
                <&macro_press>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&macro_press>,
                <&kp KP_NUMBER_2>,
                <&macro_release>;

            label = "PW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp PAGE_UP  &kp ENTER       &kp PAGE_DOWN
&kp F7       &lt 2 UP_ARROW  &kp F8
&kp LEFT     &lt 1 DOWN      &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&bootloader   &sys_reset    &studio_unlock
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
&bt BT_SEL 3  &trans        &bt BT_CLR_ALL
            >;
        };

        layer_2 {
            bindings = <
&close   &Back   &Lock
&AltTab  &trans  &PW
&trans   &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
            >;
        };
    };
};
