#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <250>;
    flavor = "hold-preferred";
};

/ {
    macros {
        Lock: Lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(L)>;
            label = "LOCK";
        };

        Home: Home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(ENTER)>;
            label = "Home";
        };

        close: close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4)>;
            label = "CLOSE";
        };

        AltTab: AltTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
            label = "ALTTAB";
        };

        PW: PW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp KP_NUMBER_0>,
                <&macro_release>,
                <&macro_press>,
                <&kp KP_NUMBER_8>,
                <&macro_release>,
                <&macro_press>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&macro_press>,
                <&kp KP_NUMBER_2>,
                <&macro_release>;

            label = "PW";
        };

        Back: Back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(DELETE)>;
            label = "BACK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp PAGE_UP   &kp ENTER       &kp PAGE_DOWN
&kp LS(LEFT)  &lt 2 UP_ARROW  &kp LS(RIGHT)
&lt 4 LEFT    &lt 1 DOWN      &lt 3 RIGHT
            >;
        };

        layer_1 {
            bindings = <
&bootloader   &sys_reset    &studio_unlock
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
&bt BT_SEL 3  &trans        &bt BT_CLR_ALL
            >;
        };

        layer_2 {
            bindings = <
&close   &Home   &Lock
&AltTab  &trans  &PW
&none    &Back   &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none
&none  &none  &none
&none  &none  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans
&trans  &trans  &trans
&trans  &trans  &trans
            >;
        };
    };
};
