#include <physical_layouts.dtsi>

/ {
    physical_layout_macro_9direct: physical_layout_macro_9direct {
        compatible = "zmk,physical-layout";
        display-name = "macro-9direct";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0   100     0>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100    0  100       0     0   100>
            , <&key_physical_attrs 100 100  100  100       0   100   100>
            , <&key_physical_attrs 100 100  200  100       0   200   100>
            , <&key_physical_attrs 100 100    0  200       0     0   200>
            , <&key_physical_attrs 100 100  100  200       0   100   200>
            , <&key_physical_attrs 100 100  200  200       0   200   200>
            ;
    };
};
